img {
    width: 20%;
    height:100%;
    margin-left: 30%;
}
.border {
    border: 2px solid black;
}


.titulo {text-align: center;}

.contenedor {
    width: 100%;
    height: 200px;
}

.contenedor-derecha {
    float: right;

}

.contenedor-izquierda {
    float: left;

}

.caja {
    width: 50%;
    height: 100%;
    }

    .limpidor {
        clear: both;
    }
