img {
    width: 20%;
    height:100%;
    margin-left: 30%;
}
.border {
    border: 2px solid black;
}


.titulo {text-align: center;}

.contenedor {
    width: 100%;
    height: 200px;
}

.contenedor-derecha {
    float: right;

}

.contenedor-izquierda {
    float: left;

}

.caja {
    width: 50%;
    height: 100%;
    }

 .contenedor-derecha {
    background-color: rgb(218, 218, 6);
}
.contenedor-izquierda{
    background-color: rgb(121, 33, 33);
    color: rgb(182, 182, 36);
}
.seccion {
    background-color: rgb(247, 247, 247);
}

.laboral{
    background-color: rgb(229, 230, 231);
}



