* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hoja-de-vida {
    width: 100vw;
    min-height: 100vh;
    margin: 10px auto;
    background-color:rgb(189, 185, 185);
}


.header {
    padding: 10px;
    background-color: rgb(3, 93, 105);
    border-radius: 12px;
    margin: 20px;
    text-align: center;
    border: 10px solid rgb(0, 0, 0);
}

header::after{
    content: "";
    display: block;
    clear: both;
}


.foto {
    width: 120px;
    height:120px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.informacion {
    float: left;
    margin-top: 30px;
}

.titulo {
    font-size: 28px;
}

.cargo {
    font-size: 14px;
    text-transform: uppercase;
}

.contenido {
    width: 100%;
}

.contenido::after {
    content: "";
    display: block;
    clear: both;
}


.contenedor-derecha {
    width: 68%;
    float: left;
    margin: 20px 20px 20px 0;
    padding: 40px;
    background-color: rgb(136, 130, 130);
    border-radius: 12px;

}

.contenedor-izquierda {
    width: 28%;
    float: left;
    margin: 20px;
    background-color: rgb(168, 168, 168);
    padding: 20px;
    border-radius: 12px;
    color: rgb(10, 10, 10);
}

h2 {
    margin-bottom: 15px;
}

p,li {
    margin-bottom: 10px;    
}

.formacion {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgb(146, 143, 143);
    background-color: rgb(189, 185, 185);
    
}

.habilidades {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgb(146, 143, 143);
    background-color: rgb(189, 185, 185);
    margin-top: 20px;
}
.idiomas {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgb(146, 143, 143);
    background-color: rgb(189, 185, 185);
    margin-top: 20px;
}