* {
 box-sizing: border-box; /* Incluye borde y padding en el ancho total */
 margin: 0;
 padding: 0;
}

img {
    width: 20%;
    height:auto;
    margin-left:40%
}

.border {
    border: 2px solid black;
}


.titulo {text-align: center;

    margin-top: 2%;
    margin-bottom:2%;

}

.contenedor {
    width: 100%;
    height: 200px;
}

.contenedor-derecha {
    float: right;

}

.contenedor-izquierda {
    float: left;

}

.caja {
    width: 50%;
    height: 100%;

    margin-bottom: 20px;

    }

.contenedor-derecha {
    background-color: rgb(204, 204, 24);
}

.contenedor-izquierda{
    background-color: rgb(121, 33, 33);
    color: rgb(182, 182, 36);
}

.contenedor-izquierda h2 {
    margin-bottom: 2%;

    padding: 10px;
}

.contenedor-izquierda p {
    

    padding: 10px;
}

.seccion h2 {
    margin-bottom: 1%;
    padding: 10px;
}
.seccion p {
    padding: 10px;
}

.seccion {
    background-color: rgb(247, 247, 247);
    margin-top: 2%;

    margin-bottom: 2%;
}

.laboral{
    background-color: rgb(229, 230, 231);

    margin: 1%;

    padding: 10px 20px;
}

.laboral h2 {
    margin-bottom: 1%;
}


.boton {
            background-color: rgb(248, 243, 243);
            padding:  8px 20px;
            color: rgb(40, 5, 241);
            margin: 2%;

        }

.card {
    width: 300px;
    border: 1px solid #fc0707;
    background-color: #ccc;
    padding: 30px 20px;
    margin: 0 auto;
    margin-bottom: 2%;
    text-align: center;
}




